/*

		Estilos del Blog

*/
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab);
@import url(https://fonts.googleapis.com/css?family=Dosis);
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/*
	Indice Globals:
*/
/*  #Style Main */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  padding: 10px;
  padding: 0;
  margin: 0;
  font-family: "Dosis", Trebuchet MS, sans-serif; }

*, *:before, *:after {
  box-sizing: inherit; }

img {
  width: inherit;
  max-width: 100%;
  height: auto; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

h2, h3 {
  padding: 0;
  margin: 0; }

/*
  Sintaxis media:
    @media (min-width:680px){
        .class1{
            float:left;
            width:74%;
        }
        .class2{
            float:right;
            width:24%;
        }
    }

*/
  /*

		Estilos del Blog

*/
.header-main {
  width: 100%; }

.content-head {
  width: 100%;
  background: #0b2884;
  color: #f9f9f9;
  padding: 10px; }
  .content-head .title-main {
    font-family: "Josefin Slab", Arial, sans-serif;
    font-size: 30px;
    display: inline-block; }

.list-social {
  float: right;
  margin-top: -18px; }

.list-social-item {
  display: inline-block;
  vertical-align: top;
  margin: 5px; }
  .list-social-item .list-social-link {
    color: #f9f9f9;
    font-size: 15px;
    font-family: "Dosis", Trebuchet MS, sans-serif; }

.list-nav {
  background: #2DC9C5;
  margin: 5px 0;
  padding: 5px; }

.list-nav-item {
  display: inline-block;
  vertical-align: top;
  margin: 10px; }
  .list-nav-item .list-nav-link {
    color: #f9f9f9;
    font-size: 15px;
    font-family: "Dosis", Trebuchet MS, sans-serif; }

.content-post {
  padding: 10px; }

.list-post-item {
  background: #f9f9f9;
  padding: 20px;
  margin: 10px; }
  .list-post-item .title-post {
    color: #E87552;
    font-family: "Josefin Slab", Arial, sans-serif;
    font-size: 18px;
    margin: 5px 0; }
  .list-post-item .date-post {
    color: #0b2884;
    font-family: "Dosis", Trebuchet MS, sans-serif;
    font-weight: lighter; }
  .list-post-item .text-post {
    font-size: 16px;
    color: #0F0F0F; }
  .list-post-item .link-post {
    color: #E87552;
    font-family: "Josefin Slab", Arial, sans-serif;
    font-size: 18px;
    text-decoration: underline; }

/*# sourceMappingURL=style.css.map */
