/*

		Estilos del Blog

*/
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab);
@import url(https://fonts.googleapis.com/css?family=Dosis);
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/*
	Indice Globals:
*/
/*  #Style Main */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  padding: 10px;
  padding: 0;
  margin: 0;
  font-family: "Dosis", Trebuchet MS, sans-serif; }

*, *:before, *:after {
  box-sizing: inherit; }

img {
  width: inherit;
  max-width: 100%;
  height: auto; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

h2, h3 {
  padding: 0;
  margin: 0; }

.list-social {
  position: absolute;
  right: 10px;
  bottom: 10px; }

.list-social-item {
  display: inline-block;
  vertical-align: top;
  margin: 5px; }
  .list-social-item .list-social-link {
    color: #fff;
    font-size: 17px;
    font-family: "Dosis", Trebuchet MS, sans-serif; }

.wrapper {
  width: 100%;
  padding: 20px; }

.sidebar-article {
  padding: 20px;
  margin: 20px; }
  @media (min-width: 680px) {
    .sidebar-article {
      float: right;
      width: 24%;
      margin: 0;
      margin-top: 10px;
      margin-right: 10px; } }

@media (min-width: 680px) {
  .content-post {
    float: left;
    width: 74%; }

  .content-article {
    float: left;
    width: 74%; } }
.list-post-item {
  padding: 20px;
  margin: 10px auto;
  width: 70%; }
  @media (min-width: 600px) {
    .list-post-item {
      display: inline-block;
      width: 45%;
      vertical-align: top;
      margin: 10px; } }
  @media (min-width: 960px) {
    .list-post-item {
      width: 30%; } }

.header-main {
  width: 100%; }

.content-head {
  width: 100%;
  background: #0b2884;
  color: #E6E6E6;
  padding: 10px;
  position: relative; }
  .content-head .title-main {
    font-family: "Josefin Slab", Arial, sans-serif;
    font-size: 30px;
    display: inline-block; }

.list-nav {
  background: #2DC9C5;
  margin: 5px 0;
  padding: 5px; }

.list-nav-item {
  display: inline-block;
  vertical-align: top;
  margin: 4px; }
  .list-nav-item .list-nav-link {
    color: #E6E6E6;
    font-size: 20px;
    font-family: "Dosis", Trebuchet MS, sans-serif; }

.list-post-item {
  background: #E6E6E6; }
  .list-post-item .title-post {
    color: #E87552;
    font-family: "Josefin Slab", Arial, sans-serif;
    font-size: 20px;
    margin: 5px 0; }
  .list-post-item .date-post {
    color: #0b2884;
    font-family: "Dosis", Trebuchet MS, sans-serif;
    font-weight: lighter;
    font-size: 13px; }
  .list-post-item .text-post {
    font-size: 16px;
    color: #0F0F0F; }
  .list-post-item .link-post {
    color: #E87552;
    font-family: "Josefin Slab", Arial, sans-serif;
    font-size: 20px;
    text-decoration: underline; }
  .list-post-item .post-image {
    width: 100%; }

.content-post-control {
  text-align: center; }

.post-control {
  display: inline-block;
  margin: 10px;
  font-family: "Dosis", Trebuchet MS, sans-serif;
  font-size: 15px;
  color: #0b2884; }

.pages-post {
  font-size: 25px;
  font-family: "Josefin Slab", Arial, sans-serif;
  color: #E87552; }

.sidebar-article {
  background: #E6E6E6; }

.title-sidebar-article {
  font-size: 25px;
  color: #2DC9C5;
  font-family: "Josefin Slab", Arial, sans-serif; }

.list-article-item {
  margin: 0;
  padding: 0;
  margin-top: 15px; }

.title-article-item {
  color: #0b2884;
  font-size: 20px;
  margin: 5px;
  text-decoration: underline; }

.date-article-item {
  color: #E87552;
  font-size: 15px;
  margin: 5px; }

.sidebar-link {
  font-size: 20px;
  text-decoration: underline;
  color: #E87552; }

.content-article {
  background: #E6E6E6;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 20px; }

.title-article {
  font-size: 25px;
  margin: 0;
  color: #0b2884;
  font-family: "Josefin Slab", Arial, sans-serif; }

.paragraph-article {
  font-size: 15px; }

.date-article {
  color: #E87552;
  font-size: 15px;
  margin: 0; }

.info-article {
  color: #2DC9C5;
  font-size: 17px; }
  .info-article .email-article {
    display: block;
    text-decoration: underline; }

.content-image {
  width: 100%;
  text-align: center;
  margin: 20px 0; }

.image-article {
  width: 100%; }
  @media (min-width: 960px) {
    .image-article {
      width: 60%; } }

.footer-main {
  background: #0b2884;
  padding: 10px;
  position: relative;
  clear: left; }
  .footer-main .list-social {
    margin-top: -28px; }

.copyright {
  color: #fff;
  font-size: 17px;
  margin: 0; }

/*# sourceMappingURL=style.css.map */
