@import url(https://fonts.googleapis.com/css?family=Josefin+Slab);
@import url(https://fonts.googleapis.com/css?family=Dosis);
$color-gray:#f9f9f9;
$color-blue:#0b2884;
$color-black:#0F0F0F;
$color-orange:#E87552;
$color-turquese:#2DC9C5;
$font-title:"Josefin Slab", Arial, sans-serif;
$font-body:"Dosis", Trebuchet MS, sans-serif;