.header-main{
  width: 100%;
}
.content-head{
  width: 100%;
  background: $color-blue;
  color:$color-gray;
  padding: 10px;
  position: relative;

  .title-main{
  	font-family: $font-title;
  	font-size: 30px;
  	display: inline-block
  }
}
