.list-nav{
	background:$color-turquese;
	margin:5px 0;
	padding:5px;
}
.list-nav-item{
	display:inline-block;
	vertical-align:top;
	margin:4px;

	.list-nav-link{
		color:$color-gray;
		font-size: 20px;
		font-family: $font-body;
	}
}