.content-post{
	padding: 35px;
  padding-top: 10px;
}
.list-post-item{
	background:$color-gray;
	padding:20px;
	margin:10px;
	
	.title-post{
		color:$color-orange;
		font-family: $font-title;
		font-size: 20px;
		margin: 5px 0;
	}
	.date-post{
		color:$color-blue;
		font-family: $font-body;
		font-weight: lighter;
		font-size:13px;  
	}
	.text-post{
		font-size:16px;
		color:$color-black;
	}
	.link-post{
		color:$color-orange;
		font-family: $font-title;
		font-size: 20px;
		text-decoration: underline;
	}
}
.content-post-control{
	text-align: center;
}
.post-control{
	display:inline-block;
	margin:10px;
	font-family:$font-body;
	font-size:15px;
	color:$color-blue; 
}
.pages-post{
  font-size: 25px;
  font-family: $font-title;
  color:$color-orange;
}